# Dependencies
node_modules/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
frontend/dummy-data/
frontend/.vite
data/

# Build outputs
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
